@import '../variables/sizes';

@lost flexbox flex;

.list {
  composes: center from '../base.pcss';
  margin-top: 30px;
}

.empty {
  margin-top: 30px;
}

.event {
  ?if media (width >= container) {
    lost-column: 1/3 3;
  }
  ?if media (width < container) {
    lost-column: 1/1 1;
  }
  margin-bottom: 30px;
  transition: all .2s;
  &:hover {
    margin-top: -5px;
  }
}