@import '../variables/sizes';

.date {
  float: left;
  margin: -3px 10px 0 -10px;
}

.tag {
  display: inline-block;
  padding: 2px;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.actions {
  float: right;
  left: 20px;
  top: -4px;
  cursor: pointer;
}

.image {
  ?if media (width >= container) {
    height: imageHeight;
    width: auto !important;
  }
}