.map {
  composes: center from '../base.pcss';
  margin-top: 30px;
}

.map > div {
  width: 100%;
}

.googlemap {
  height: 500px !important;
  width: 100%;
}

.googlemap > div {
  height: inherit;
  width: inherit;
}

.maploader {
  height: 600px;
  width: 100%;
}