@import '../variables/colors';

.title {
  composes: pipe-before from '../helpers/modifiers.pcss';
  padding: 10px 0;
  float: left;
  color: darkPrimary;
  margin: 0;
  h2 {
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
  }
}

.close {
  right: 15px;
  top: 15px;
  float: right;
  cursor: pointer;
  display: inline-block !important;
  position: absolute !important;
}

.fields {
  padding: 10px;
}