@import '../variables/colors';

.title {
  padding: 10px 15px;
  float: left;
  color: text;
  margin: 0;
  h2 {
    display: inline-block;
    margin: 0;
  }
}

.close {
  right: 15px;
  top: 15px;
  float: right;
  cursor: pointer;
  display: inline-block !important;
  position: absolute !important;
}