@import '../variables/colors';

.main {
  width: 100%;
}

.title {
  color: alternateText;
  padding-left: 15px;
}

.tabs > div:first-child + div {
  div {
    background-color: alternateText !important;
  }
}