@import '../variables/colors';

.main {
  width: 100%;
}

.title {
  color: alternateText;
  padding-left: 15px;
  margin-bottom: 0;
}

.subtitle {
  color: lightPrimary;
  padding-left: 15px;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 0;
}

.tabs {
  padding: 15px;
}

.tabs > div:first-child + div {
  div {
    background-color: alternateText !important;
  }
}