@import '../variables/colors';

.login {
  composes: center-all-children from '../helpers/modifiers.pcss';
  flex-direction: column;
}

.lang {
  position: absolute;
  top: 20px;
  left: 0;
  margin-left: 20px;
  color: lightPrimary;
  span {
    cursor: pointer;
    padding: 0 5px;
  }
  .active {
    color: alternateText;
  }
}