@value darkPrimary: #512da8;
@value primary: #673ab7;
@value lightPrimary: #d1c4e9;

@value accent: #536dfe;
@value text: #212121;
@value secondaryText: #727272;
@value alternateText: #ffffff;

@value divider: #b6b6b6;