:global .react-progress-bar {
  .react-progress-bar-percent {
    background: alternateText;
    box-shadow: 0 0 10px alternateText, 0 0 5px alternateText;
  }
  .react-progress-bar-spinner {
    display: none;
  }
}

:global .logo {
  font-weight: bold;
  font-size: 30px;
  color: alternateText;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  .material-icons {
    padding: 5px 5px 0 0;
  }
}