:global .react-progress-bar {
  .react-progress-bar-percent {
    background: primary;
    box-shadow: 0 0 10px primary, 0 0 5px primary;
  }
  .react-progress-bar-spinner {
    display: none;
  }
}

:global .logo {
  font-weight: bold;
  font-size: 30px;
  color: primary;
}