@import 'variables/colors';

.login {
  height: 50vh;
  background-image: linear-gradient(darkPrimary, darkPrimary 60px, primary 60px, primary);
}

.app {
  height: 300px;
  background-image: linear-gradient(darkPrimary, darkPrimary 20%, primary 20%, primary);
}